@import "tailwindcss";

/* Hide scrollbar for all browsers */
.scrollbar-hide {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
  /* Chrome, Safari, Opera */
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in {
  animation: fadeIn 0.4s ease forwards;
}

/* Auto scroll featured badges */

.badge-container {
  display: flex;
  overflow: hidden;
  white-space: nowrap;
}

.badge-container:hover {
  animation-play-state: paused;
  /* Pause on hover */
}

.badge {
  display: inline-block;
  margin-right: 20px;
}

@keyframes scroll {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(-100%);
  }
}

.badge-container {
  animation: scroll 20s linear infinite;
}